## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head(6)

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
5,10556855,MINORITY ORGAN & TISSUE TRANSPLANT & EDUCATION...,T3,Independent,C1200,Preservation,Trust,1,0,N,5000,1

In [2]:
# Drop the non-beneficial ID column, 'EIN'.
application_df.drop(columns=['EIN'], inplace=True)
application_df.head(6)

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
5,MINORITY ORGAN & TISSUE TRANSPLANT & EDUCATION...,T3,Independent,C1200,Preservation,Trust,1,0,N,5000,1

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
application_df['APPLICATION_TYPE'].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Look at NAME value counts for binning
application_df["NAME"].value_counts()

PARENT BOOSTER USA INC                                                  1260
TOPS CLUB INC                                                            765
UNITED STATES BOWLING CONGRESS INC                                       700
WASHINGTON STATE UNIVERSITY                                              492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                          408
                                                                        ...
ST LOUIS SLAM WOMENS FOOTBALL                                              1
AIESEC ALUMNI IBEROAMERICA CORP                                            1
WEALLBLEEDRED ORG INC                                                      1
AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI       1
WATERHOUSE CHARITABLE TR                                                   1
Name: NAME, Length: 19568, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >10
application_df['CLASSIFICATION'].value_counts()[application_df['CLASSIFICATION'].value_counts()>10]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
Name: CLASSIFICATION, dtype: int64

In [8]:
# Choose a cutoff value (=100) and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = ['T2', 'T9', 'T12', 'T13', 'T14', 'T15', 'T17', 'T25', 'T29']

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [9]:
# Assigning NAME value counts to a variable
name_counts = application_df['NAME'].value_counts()

In [10]:
# To reduce the impact of duplicate names on the model:
# Choose a cutoff value (=50) and create a list of names to be replaced
# use the variable name `names_to_replace`
names_to_replace = [name_counts[name_counts<=50].index]
for name in names_to_replace:
    application_df['NAME'] = application_df['NAME'].replace(name,"Other")

In [11]:
# Check to make sure binning was successful
application_df["NAME"].value_counts()

Other                                                                 24645
PARENT BOOSTER USA INC                                                 1260
TOPS CLUB INC                                                           765
UNITED STATES BOWLING CONGRESS INC                                      700
WASHINGTON STATE UNIVERSITY                                             492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                         408
PTA TEXAS CONGRESS                                                      368
SOROPTIMIST INTERNATIONAL OF THE AMERICAS INC                           331
ALPHA PHI SIGMA                                                         313
TOASTMASTERS INTERNATIONAL                                              293
MOST WORSHIPFUL STRINGER FREE AND ACCEPTED MASONS                       287
LITTLE LEAGUE BASEBALL INC                                              277
INTERNATIONAL ASSOCIATION OF LIONS CLUBS                                266
MOMS CLUB                                                               210
INTERNATIONAL ASSOCIATION OF SHEET METAL AIR RAIL & TRANSPORTATION      206
AMERICAN ASSOCIATION OF UNIVERSITY WOMEN                                197
FARMERS EDUCATIONAL AND COOPERATIVE UNION OF AMERICA                    166
KNIGHTS OF COLUMBUS                                                     158
HABITAT FOR HUMANITY INTERNATIONAL INC                                  154
TENNESSEE ORDER OF THE EASTERN STAR                                     151
VETERANS OF FOREIGN WARS OF THE UNITED STATES AUXILIARY                 144
PTA UTAH CONGRESS                                                       140
THE UNITED STATES PONY CLUBS INC                                        136
CIVITAN INTERNATIONAL                                                   131
SIGMA BETA DELTA INC                                                    127
HONOR SOCIETY OF PHI KAPPA PHI                                          107
MONTANA 4-H FOUNDATION INC                                              107
WASHINGTON STATE GRANGE                                                 106
UNIVERSITY OF WYOMING                                                   105
DEMOLAY INTERNATIONAL                                                   104
SERTOMA INC                                                             103
AIR FORCE ASSOCIATION                                                    99
WORKERS UNITED                                                           97
GAMMA THETA UPSILON                                                      92
INTERNATIONAL ASSOCIATION OF FIRE FIGHTERS                               91
SOCIETY OF SAINT VINCENT DE PAUL COUNCIL OF LOS ANGELES                  87
ROTARY INTERNATIONAL                                                     84
CALIFORNIA GARDEN CLUBS INC                                              76
SWEET ADELINES INTERNATIONAL                                             73
DISABLED AMERICAN VETERANS                                               73
KLEIN SUPPORT GROUPS INC                                                 69
CLEARCREEK I S D SUPPORT GROUPS                                          60
VFW AUXILIARY DEPARTMENT OF OKLAHOMA INC                                 58
DEPARTMENT OF KANSAS LADIES AUXILIARY TO THE VFW OF THE US INC           57
CISD EDUCATIONAL SUPPORT GROUPS INC                                      57
SONS OF CONFEDERATE VETERANS INC                                         56
SLOW FOOD USA INC                                                        55
NATIONAL YOUNG MENS SERVICE LEAGUE                                       54
AMATEUR ATHLETIC UNION OF THE UNITED STATES                              52
LAMBDA THETA ALPHA                                                       52
Name: NAME, dtype: int64

In [12]:
# Choose a cutoff value (=1000) and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(application_df['CLASSIFICATION'].value_counts()[application_df['CLASSIFICATION'].value_counts()<1000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [13]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df)

In [14]:
# Split our preprocessed data into our features and target arrays

# Drop the original object-type columns and target column
X = application_df.drop(columns=["IS_SUCCESSFUL"])
y = application_df["IS_SUCCESSFUL"]

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [15]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [16]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
nn = tf.keras.models.Sequential()

# Input layer
nn.add(tf.keras.layers.Dense(units=80, activation="relu", input_dim=len(X_train_scaled[0])))

# Hidden layer
nn.add(tf.keras.layers.Dense(units=40, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                7520

 dense_1 (Dense)             (None, 40)                3240

 dense_2 (Dense)             (None, 1)                 41

=================================================================
Total params: 10,801
Trainable params: 10,801
Non-trainable params: 0
_________________________________________________________________

In [17]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [18]:
# Create a callback that saves the model's weights every five epochs.
import os
from tensorflow.keras.callbacks import ModelCheckpoint
os.makedirs("checkpoints2/",exist_ok=True)
checkpoint_path = "checkpoints2/weights.{epoch:02d}.hdf5"
cp_callback= ModelCheckpoint(filepath=checkpoint_path,save_weights_only=True, period=5)

WARNING:tensorflow:`period` argument is deprecated. Please use `save_freq` to specify the frequency in number of batches seen.

In [19]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100, callbacks=[cp_callback])

Epoch 1/100
804/804 [==============================] - 7s 5ms/step - loss: 0.5015 - accuracy: 0.7528
Epoch 2/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4821 - accuracy: 0.7623
Epoch 3/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4786 - accuracy: 0.7650
Epoch 4/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4772 - accuracy: 0.7654
Epoch 5/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4761 - accuracy: 0.7659
Epoch 6/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4749 - accuracy: 0.7657
Epoch 7/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4739 - accuracy: 0.7657
Epoch 8/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4727 - accuracy: 0.7669
Epoch 9/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4720 - accuracy: 0.7673
Epoch 10/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4721 - accuracy: 0.7676
Epoch 11/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4713 - accuracy: 0.7668
Epoch 12/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4706 - accuracy: 0.7674
Epoch 13/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4700 - accuracy: 0.7672
Epoch 14/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4696 - accuracy: 0.7692
Epoch 15/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4691 - accuracy: 0.7693
Epoch 16/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4689 - accuracy: 0.7682
Epoch 17/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4685 - accuracy: 0.7692
Epoch 18/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4683 - accuracy: 0.7690
Epoch 19/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4681 - accuracy: 0.7687
Epoch 20/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4676 - accuracy: 0.7690
Epoch 21/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4680 - accuracy: 0.7701
Epoch 22/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4671 - accuracy: 0.7691
Epoch 23/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4672 - accuracy: 0.7693
Epoch 24/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4667 - accuracy: 0.7712
Epoch 25/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4668 - accuracy: 0.7704
Epoch 26/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4665 - accuracy: 0.7690
Epoch 27/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4660 - accuracy: 0.7716
Epoch 28/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4655 - accuracy: 0.7710
Epoch 29/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4661 - accuracy: 0.7713
Epoch 30/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4656 - accuracy: 0.7707
Epoch 31/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4649 - accuracy: 0.7717
Epoch 32/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4653 - accuracy: 0.7705
Epoch 33/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4648 - accuracy: 0.7715
Epoch 34/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4648 - accuracy: 0.7720
Epoch 35/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4648 - accuracy: 0.7704
Epoch 36/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4647 - accuracy: 0.7715
Epoch 37/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4646 - accuracy: 0.7708
Epoch 38/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4642 - accuracy: 0.7712
Epoch 39/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4636 - accuracy: 0.7719
Epoch 40/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4636 - accuracy: 0.7718
Epoch 41/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4635 - accuracy: 0.7715
Epoch 42/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4636 - accuracy: 0.7713
Epoch 43/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4638 - accuracy: 0.7719
Epoch 44/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4632 - accuracy: 0.7719
Epoch 45/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4630 - accuracy: 0.7723
Epoch 46/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4633 - accuracy: 0.7718
Epoch 47/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4630 - accuracy: 0.7714
Epoch 48/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4629 - accuracy: 0.7713
Epoch 49/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4627 - accuracy: 0.7717
Epoch 50/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4629 - accuracy: 0.7706
Epoch 51/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4627 - accuracy: 0.7719
Epoch 52/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4623 - accuracy: 0.7729
Epoch 53/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4621 - accuracy: 0.7734
Epoch 54/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4621 - accuracy: 0.7734
Epoch 55/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4620 - accuracy: 0.7738
Epoch 56/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4618 - accuracy: 0.7722
Epoch 57/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4619 - accuracy: 0.7728
Epoch 58/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4617 - accuracy: 0.7728
Epoch 59/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4619 - accuracy: 0.7718
Epoch 60/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4617 - accuracy: 0.7729
Epoch 61/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4615 - accuracy: 0.7729
Epoch 62/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4613 - accuracy: 0.7729
Epoch 63/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4617 - accuracy: 0.7729
Epoch 64/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4609 - accuracy: 0.7727
Epoch 65/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4612 - accuracy: 0.7730
Epoch 66/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4613 - accuracy: 0.7727
Epoch 67/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4609 - accuracy: 0.7723
Epoch 68/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4609 - accuracy: 0.7737
Epoch 69/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4607 - accuracy: 0.7726
Epoch 70/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4611 - accuracy: 0.7736
Epoch 71/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4610 - accuracy: 0.7727
Epoch 72/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4604 - accuracy: 0.7731
Epoch 73/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4603 - accuracy: 0.7742
Epoch 74/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4606 - accuracy: 0.7733
Epoch 75/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4606 - accuracy: 0.7725
Epoch 76/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4603 - accuracy: 0.7743
Epoch 77/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4602 - accuracy: 0.7732
Epoch 78/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4601 - accuracy: 0.7738
Epoch 79/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4605 - accuracy: 0.7724
Epoch 80/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4599 - accuracy: 0.7738
Epoch 81/100

804/804 [==============================] - 3s 4ms/step - loss: 0.4599 - accuracy: 0.7736
Epoch 82/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4602 - accuracy: 0.7744
Epoch 83/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4598 - accuracy: 0.7743
Epoch 84/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4597 - accuracy: 0.7736
Epoch 85/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4596 - accuracy: 0.7741
Epoch 86/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4594 - accuracy: 0.7736
Epoch 87/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4598 - accuracy: 0.7738
Epoch 88/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4599 - accuracy: 0.7741
Epoch 89/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4596 - accuracy: 0.7748
Epoch 90/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4593 - accuracy: 0.7743
Epoch 91/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4592 - accuracy: 0.7741
Epoch 92/100
804/804 [==============================] - 4s 4ms/step - loss: 0.4592 - accuracy: 0.7745
Epoch 93/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4591 - accuracy: 0.7748
Epoch 94/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4592 - accuracy: 0.7740
Epoch 95/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4593 - accuracy: 0.7742
Epoch 96/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4589 - accuracy: 0.7741
Epoch 97/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4590 - accuracy: 0.7745
Epoch 98/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4591 - accuracy: 0.7752
Epoch 99/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4593 - accuracy: 0.7740
Epoch 100/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4588 - accuracy: 0.7748

In [22]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.4917 - accuracy: 0.7576 - 715ms/epoch - 3ms/step
Loss: 0.49172255396842957, Accuracy: 0.7575510144233704

In [21]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity_Optimization_m1.h5")